# VSCode + ESP-IDF project ignores
.vscode/
*.code-workspace
.idea/
*.old
*.log
%SystemDrive%

# ESP-IDF build system
build/
build_new/
.claude
managed_components/
*.bin
*.elf
*.map
*.tmp
*.pyc
__pycache__/

# OS artifacts
.DS_Store
Thumbs.db
